html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: absolute;
    margin: 0;
    border: 0;
    touch-action: none;
    width: 100vw;
    height: 100vh;

    background-color: #383838;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
}

#container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.menu-bar {
    /* TODO: on mobile, show at top in portrait mode and at side in landscape */
    box-sizing: border-box;
    background-color: #222222;
    height: 100%;
    padding: 40px 10px;
    width: 60px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.menu-bar div.spacer {
    flex-grow: 1;
}

.menu-bar button {
    width: 40px;
    margin-top: 10px;
    padding: 10px 0;
}

.tab-panel {
    box-sizing: border-box;
    position: relative;
    border-radius: 0 10px 10px 0;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding: 10px;
}

.tab-panel button {
    margin: 0;
}

.tab-panel .panel {
    position: absolute;
    display: block;
    right: 60px;
    top: 0;

    width: 350px;

    /* TODO: shared UI constants */
    border-radius: 10px 0 10px 10px;
    overflow: hidden;
}

.tab-panel .border-top {
    height: 10px;
    background-color: #7f7f7f;
    width: 100%;
}

.tab-panel input[type='range'] {
    display: block;
    width: 100%;
}

button.brush-color {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 2px solid #7f7f7f;
    border-radius: 50%;

    background-color: red;
}

#application {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: -20;
    width: 100%;
    height: 100%;
}

.divider {
    width: 4px;
    background-color: #222222;
}
